.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.texto-justificado{
  text-align: justify;
  }
  .text{
    align-items: center;
    width: 900px;
    
    padding-left: 150px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tamaño{
  width: 1050px;
  height: 400px;
}

#main-slider-container{
  width: 90%;
}

.slider{
  width: 100%;
  height: 100%;
  white-space: normal;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar{
  display: none;
}

#main-slider-container {
  position: relative;
  display: flex;
  align-items: center;
}


.slider-card-title, .slider-card-description{
  margin: 5px 0px 5px 10px;
}

.slider-card-title{
  font-weight: 500;
  margin-top: 10px;
}

.slider-card-description{
  opacity: 0.5;
  font-size: 13px;
  text-align: left;  
}

.slider-card-image{
  width: 100%;
  height: 220px;
  background-color: rgb(240 240 240 / 80%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.slider-icon.left, .slider-icon.right {
  background: white;
  border-radius: 100%;
  position: absolute;
  opacity: 0.5;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
  cursor: pointer;
}

.slider-icon.left{
  left: 0;
}

.slider-icon.right{
  right: 0;
}

.slider-icon.left:hover, .slider-icon.right:hover{
  opacity: 1;
}

.slider-card{
  width: 320px;
  height: 550px;
  background: white;
  border-radius: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 12%);
  cursor: pointer;
}

.fecha-noticia{
  color: #5b5b5b;
  text-transform: capitalize;
  font-size: .8em;
  padding: 0 15px;
}